{% extends 'maqueta.html' %}
{% load staticfiles %}

{% block principal %}

	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script><!--Enlaze a las jqery-->
  	<link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}"><!--Enlaze a las hojas de estiloss-->
	<!--<script src="{% static 'js/validaciones.js' %}"></script>--><!--Enlaze para validar el formulario-->

	{% if registro == 1 %}
		<form class="formu" method="POST">
			<h1>Formulario registro persona</h1>
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Registrar" class="btn-enviar"> 

			{% if mensaje != "" %}
				<script languaje='javascript'>alert('{{mensaje}}')</script>
			{% endif %}
		</form>
	{% else %}
		{% if actual.is_staff %}
			<form class="formu" method="POST">
				<h1>Registro Usuario</h1>
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Registrar" class="btn-enviar">
				{% if mensaje != "" %}
					<script languaje='javascript'>alert('{{mensaje}}')</script>
				{% endif %}
			</form>	
		{% else %}	
			<form class="formu">
				<h1>Sin los permisos necesarios</h1>
			</form>
		{% endif %}
	{% endif %}
	
{% endblock %}